#wrapper {
	min-height: 100%;
	margin: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

.col-8 {
	width: 65%;
	height: auto;
	float: left;
	margin-right: 1px;
	padding-right: 1px;
	box-sizing: border-box;
}

h1 {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 40px;
	color: rgb(215, 50, 50);
	width: 50%;
	margin-right: 10px;
}

h3 {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	color: rgb(172, 172, 172);
	width: 50%;
	margin-left: 10px;
}

.nav {
	display: inline;
	margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
}

.nav ul {
	list-style: none;
	background-color: black;
	padding-top: 18px;
    padding-bottom: 36px;
}
	
.nav li {
	list-style: none;
	display: inline;
	float: left;
    width: 16.66%;
}

.nav a {
	color: rgb(244, 244, 244);
	text-decoration: none;
}
 .item-1 a {
 	 padding: 18px 70px 19px 25px;
     border-right: 2px rgb(70, 70, 70) solid;
 }

  .item-2 a {
 	 padding: 18px 80px 19px 40px;
     border-right: 2px rgb(70, 70, 70) solid;
 }

   .item-3 a {
 	 padding: 18px 55px 19px 25px;
     border-right: 2px rgb(70, 70, 70) solid;
 }

  .item-4 a {
 	 padding: 18px 60px 19px 35px;
     border-right: 2px rgb(70, 70, 70) solid;
 }

  .item-5 a {
 	 padding: 18px 65px 19px 50px;
     border-right: 2px rgb(70, 70, 70) solid;
 }
   .item-6 a {
 	 padding: 18px 40px 19px 55px;
 }

.date h2 {
	color: rgb(206, 206, 206);
	margin: 35px 0px 5px 0px;
	font-weight: lighter;
	font-size: 30px;
}

.post h2 {
	color: rgb(32, 32, 32);
	font-weight: lighter;
	font-size: 30px;
	margin: 5px 0px 10px 0px;
}

p::first-letter { 
    font-size: 350%;
    font-weight: lighter;
    color: rgb(212,212,212);
}

p {
	font-size: 15px;
	color: rgb(153,153,153);
}

.continue a {
	color: rgb(218,77,77);
	margin: 20px 0px;
	float: right;
	text-decoration: none;
}

.divider {
	border: 1px rgb(240,240,240) solid;
	margin: 40px 0px;
	clear: both;
}

.col-4 {
	width: 30%;
	height: auto;
	float: right;
	margin-left: 1px;
	padding-left: 1px;
	box-sizing: border-box;
	margin-top: 20px;
}

h4 {
	margin-top: 30px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-4 a {
	color: rgb(218,77,77);
	text-decoration: none;
}

.site-footer {
	position: relative;
	margin-top: -400px;
	height: 150px;
	clear:both;
}

.site-footer a {
	text-decoration: none;
	color: rgb(217,55,54);
	padding: 5px 10px;
	display:inline;
	border-right: 1px rgb(206,206,206) solid;
}	
 .site-footer a.last {
 	border:none;
 }

 .site-footer footer {
 	margin-top: 30px;
 	margin-left: 10px;
 	color: rgb(206,206,206);
 }
